.button{
    -fx-background-color:   #EBDBCD;
}

.button:hover{
    -fx-background-color:   #e4b9af;
}
.button:pressed{
    -fx-background-color: #c08e97   ;
}

.text-area{
    -fx-border-color: gray; -fx-border-width: 0 0 2 0;

}
